@import "~nti-style-common";

.assignment-editor-container {
	max-width: 1024px;
	margin: 0 auto;
	font-family: $body-font-family;

	&, * {
		box-sizing: border-box;
	}

	.assignment-editor {
		float: left;
		width: 75%;
	}

	.assignment-editing-sidebar  {
		float: right;
		width: 24%;
	}
}
