@import "~nti-style-common";

.assignment-content-editor{
	&.error {
		box-shadow: 0 0 1px 1px $primary-red;
	}

	.nti-rich-text {
		border: none;
		background: none;
	}

	.character-count {
		display: none;
	}
}
