@import "~nti-style-common";

.assignment-content-editor{
	textarea {
		resize: none;
		width: 100%;
		height: 210px;
		font: normal 300 0.875rem/0.875rem $body-font-family;
		color: $primary-grey;
		padding: 2px 3px;
		background: none;
		border: none;

		&::placeholder {
			font-style: italic;
		}
	}

	&.error {
		box-shadow: 0 0 1px 1px $primary-red;
	}
}
