@import "~nti-style-common";

.assignment-title-editor {
	margin-right: 110px;

	input {
		width: 100%;
		font: normal 300 1.93rem/1.93rem $body-font-family;
		color: $primary-grey;
		padding: 2px 3px;
		background: none;
		border: none;

		&::placeholder {
			font-style: italic;
		}
	}
}
