@import "~nti-style-common";

.assignment-title-editor {
	margin-right: 110px;
	margin-bottom: 0.5rem;

	&.error {
		box-shadow: 0 0 1px 1px $primary-red;
	}

	&.selected {
		.character-count {
			display: block;
		}
	}

	.nti-rich-text {
		border: none;
		background: none;
		overflow-x: visible;
		overflow-y: visible;

		.DraftEditor-root {
			font: normal 300 1.75rem/2.25rem $body-font-family;
			min-height: 0;
			padding: 0.1rem 0.6rem;
			padding-bottom: 0.1rem;
		}
	}

	.nti-error {
		padding: 0 0.6rem 0.6rem;;
	}

	.character-count {
		padding: 0.2rem 0.6rem;
		display: none;

		&.over {
			display: block;
		}
	}

	.public-DraftEditorPlaceholder-root {
		font-style: italic;
		font-weight: 300;
	}
}
