@import "~nti-style-common";

.option-container {
	.show-content.toggle {
		width: 103px;
		height: 39px;
		border-radius: .125rem;
		background-color: #3fb3f6;
		text-align: center;
		color: white;
		line-height: 39px;
		font-size: .875rem;
		font-weight: 300;
	}
}

.assignment-options {
	font-family: $body-font-family;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
	padding-top: 22px;

	.main-header {
		opacity: 0.9;
		font-size: 2.25rem;
		font-weight: 300;
		line-height: 1;
		color: #494949;
		width: 10rem;
		margin: 0;
	}
	.options-assignment-title {
		font-size: .875rem;
		color: #757474;
		margin-top: .625rem;
	}
}
