.assignment-option-group {
	display: flex;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	margin-top: 1.875rem;
	padding-bottom: 1.875rem;

	&.disabled {
		.options {
			opacity: 0.5;
			pointer-events: none;
		}

		.assignment-option-content .disabled-text {
			display: block;
		}
	}

	&:not(:last-child) {
		border-bottom: 1px solid  rgba(216,216,216,0.4);
	}

	.header {
		width: 100%;
		margin-bottom: .625rem;
		font-size: .875rem;
		font-weight: 600;
		color: #494949;
	}

	.options {
		width: 50%;
	}

	.assignment-option-content {
		width: 50%;

		p, span {
			margin: 0;
			font-size: .875rem;
			color: #757474;
		}

		.disabled-text {
			padding-top: 1rem;
			font-style: italic;
			display: none;
		}
	}
}
