.visibility {
	.select-box {
		width: 200px;

		.option-label {
			font-size: .875rem;
			color: #757474;
		}
	}

	.select-box.open {
		.menu-label.selected {
			.option-label {
				color: #FFFFFF;
			}
		}
	}
}
