@import "~nti-style-common";

.question-content-editor {
	&.error .nti-rich-text {
		box-shadow: 0 0 1px 1px $primary-red;
	}

	.nti-rich-text {
		padding: 20px 21px 20px 54px;
		border: none;
		background: white;

		.DraftEditor-root {
			padding: 0;
			padding-bottom: 0;
			font-size: 0.875rem;
			transition: color 50ms;
			min-height: 0;
		}

		.character-count {
			display: none;
		}

		.public-DraftEditorPlaceholder-root {
			font-style: italic;
			font-weight: 300;
			transition: color 50ms;
		}
	}
}

.dragging .question-content-editor .nti-rich-text {
	position: static;

	.DraftEditor-root {
		position: static;
	}

	.DraftEditor-editorContainer {
		position: static;
	}

	.public-DraftStyleDefault-block {
		position: static;
	}
}

.is-saving .question-content-editor .nti-rich-text {
	.DraftEditor-root, .public-DraftEditorPlaceholder-root {
		color: transparent;
	}
}
