.question-container {
	position: relative;
	margin-bottom: 30px;


	.question-editor {
		margin-right: 90px;
	}

	.controls {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.question-editor {
	position: relative;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
