@import "~nti-style-common";

.assignment-editing-question-container {
	position: relative;
	margin-bottom: 30px;
	padding: 0 rem-calc(30px);


	.question-editor {
		margin-right: rem-calc(58px);

		&:not(.selected) {
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
		}

		&.error {
			box-shadow: 0 0 1px 1px $border-red;
		}
	}

	.wrap {
		background: white;
		display: flex;
		padding: rem-calc(20px) 0 rem-calc(20px) rem-calc(25px);
	}

	.drag-handle.question-drag-handle {
		flex: 0 0 auto;
		line-height: 1.25rem;
		padding-right: 10px;
	}

	.index {
		flex: 0 0 auto;
		padding-right: 6px;
		font: normal 400 0.875rem/1.25rem $body-font-family;
		color: $tertiary-grey;
		transition: opacity 500ms;
		opacity: 1;

		&::after {
			content: '.';
		}
	}

	.question-content-editor {
		flex: 1 1 auto;
	}

	.assignment-editing-controls {
		position: absolute;
		top: 0;
		right: 1.75rem;
		width: 3rem;
		height: auto;
		border-radius: rem-calc(2px);
		padding: rem-calc(7px) 0;
		background-color: #ffffff;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
	}

	.question-editor > .nti-error {
		padding: 0 rem-calc(15px) rem-calc(15px);
		margin-top: rem-calc(-15px);
	}


	&.is-saving {
		.index {
			opacity: 0;
		}
	}

	&.is-deleting {
		display: none;
	}
}

.dragging .assignment-editing-question-container  {
	position: static;

	.assignment-editing-controls {
		display: none;
	}
}
