@import "~nti-style-common";

.multiple-choice-choice {
	position: relative;
	margin-bottom: 9px;

	.nti-rich-text {
		padding-left: 34px;
	}

	.nti-error {
		padding-left: 34px;
	}

	.radio-component, .checkbox-component {
		transition: opacity 50ms;
		opacity: 1;
	}

	.radio-component {
		position: absolute;
		top: 10px;
		left: 15px;
	}

	.checkbox-component {
		position: absolute;
	    top: 14px;
	    left: 15px;
	}

	.remove {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}
}

.dragging .multiple-choice-choice {
	position: static;

	input[type="checkbox"], input[type="radio"] {
		display: none;
	}
}

.is-saving .multiple-choice-choice {
	input[type="checkbox"], input[type="radio"] {
	 	opacity: 0;
	}
}
