@import "~@nti/style-common";

.input-type-choice {
	position: relative;
	border: 1px solid $border-grey-light;
	background-color: white;
	display: flex;
	padding: 0 rem-calc(9px);

	.drag-handle.choice-drag-handle {
		flex: 0 0 auto;
		padding-right: 0;

		i {
			line-height: rem-calc(38px);
		}
	}

	.sync-height {
		flex: 1 1 auto;
	}

	.delete {
		flex: 0 0 auto;
		line-height: rem-calc(38px);
		font-weight: 600;
		color: $tertiary-grey;
		opacity: 1;
		transition: opacity 50ms;
		cursor: pointer;

		&:hover {
			color: $secondary-grey;
		}
	}


	&.error {
		border: 1px solid rgba($primary-red, .6);

		&.selected {
			border-color: $primary-red;
		}
	}

	&.selected {
		border-color: $border-grey;
	}

	&.correct {
		background-color: $light-green;
		border: 1px solid $border-green-light;
		&.selected {
			border-color: $border-green-dark;
		}
	}


	.nti-rich-text, .nti-buffered-text-editor {
		position: static;
		font: normal 400 0.875rem/2.5 $body-font-family;
		color: var(--primary-grey);
		background-color: inherit;
		border: none;
		width: 100%;
		padding: rem-calc(9px 3px);

		// .dragging & {
		// 	position: static;
		// }

		.nti-draft-core .DraftEditor-root {
			padding: 0;
			min-height: 0;
			line-height: 1.3rem;
			font-size: 0.875rem;
			transition: color 50ms;
		}

		.DraftEditor-editorContainer {
			z-index: 0;
		}
	}

	.nti-error {
		padding: 0.6rem;
		margin-top: -1rem;
	}


	input:not(.nti-text-input) {
		background: none;
		font: normal 400 0.875rem/2.5 $body-font-family;
		color: var(--primary-grey);
		border: none;
		width: 100%;
		padding: 0 0.2rem;
	}
}

.input-type-choices.can-delete {
	input[type=text] {
		padding-right: 30px;
	}
}

.is-saving .input-type-choice {
	.nti-rich-text .nti-draft-core .DraftEditor-root, .nti-buffered-text-editor .nti-draft-core .DraftEditor-root {
		color: transparent;
	}
}

.input-type-choice.placeholder {
	pointer-events: none;

	.placeholder-text {
		background-color: $border-grey-light;
		flex: 1 1 100%;
		margin: rem-calc(13px 10px 13px 31px);
		opacity: 0.7
	}

	&.correct {
		.placeholder-text {
			background-color: $primary-green;
			opacity: 0.3;
		}
	}
}
