@import "~nti-style-common";

.input-type-choices {
	position: relative;

	// .dragging & {
	// 	position: static;
	// }

	// .choices {
	// 	position: relative;
	// 	z-index: 0;
	//
	// 	.dragging & {
	// 		position: static;
	// 	}
	//
	// 	.dragging & .ordering-container > div{
	// 		position: static !important;
	// 	}
	// }

	.add-choice {
		background-color: white;
		font: normal 400 0.875rem/40px $body-font-family;
		color: $secondary-grey;
		padding: rem-calc(0 10px);
		margin: rem-calc(0 15px);
		border: 1px solid $border-grey-light;
		cursor: pointer;
		transition: color 50ms;

		&.selected {
			border-color: $border-grey;
		}

		i {
			margin-right: rem-calc(7px);
		}
	}

	.choice-column {
		padding: rem-calc(15px) rem-calc(15px) 0;

		&.no-reorder {
			.drag-handle {
				display: none;
			}
		}
	}
}


.is-saving .input-type-choices {
	.add-choice {
		color: transparent;
	}
}
