@import "~nti-style-common";

.action-stack-item {
	background: $secondary-grey;
	color: white;
	font: normal 400 0.75rem/2.5rem $body-font-family;
	padding: 0 0.75rem;
	border-radius: 3px;

	.label {
		margin-right: 0.5rem;
	}

	.action {
		text-transform: uppercase;
		cursor: pointer;
		font-weight: 700;
	}

	&.fadeInOut-enter {
		opacity: 0;
		transition: opacity 300ms;

		&.fadeInOut-enter-active {
			opacity: 1;
		}
	}

	&.fadeInOut-leave {
		opacity: 1;
		transition: opacity 300ms;

		&.fadeInOut-leave-active {
			opacity: 0;
		}
	}
}
