@import "~nti-style-common";

.assignment-input-choice {
	&.error {
		border: 1px solid $border-red;

		&.selected {
			box-shadow: 0 0 1px 1px $border-red;
		}
	}

	&.correct {
		.nti-rich-text {
			background-color: $light-green;
			border: 1px solid $border-green-light;
		}
	}

	.nti-rich-text {
		font: normal 400 0.875rem/40px $body-font-family;
		color: $primary-grey;
		background-color: white;
		width: 100%;
		padding: 0 10px;
		border: 1px solid $border-grey-light;

		.dragging & {
			position: static;
		}

		.DraftEditor-root {
			padding: 0;
			min-height: 0;
			line-height: 2.5rem;
			font-size: 0.875rem;
		}
	}
}

.assignment-input-choices.can-delete {
	input[type=text] {
		padding-right: 30px;
	}
}
