@import "~nti-style-common";

.assignment-input-choices {
	position: relative;

	// .dragging & {
	// 	position: static;
	// }

	// .choices {
	// 	position: relative;
	// 	z-index: 0;
	//
	// 	.dragging & {
	// 		position: static;
	// 	}
	//
	// 	.dragging & .ordering-container > div{
	// 		position: static !important;
	// 	}
	// }

	.add-choice {
		background-color: white;
		font: normal 400 0.875rem/40px $body-font-family;
		color: $secondary-grey;
		padding: 0 rem-calc(10px) 0 rem-calc(15px);
		margin: 0 rem-calc(15px);
		border: 1px solid $border-grey-light;
		cursor: pointer;
		transition: color 50ms;

		i {
			margin-right: rem-calc(7px);
		}
	}

	.choice-column {
		padding: rem-calc(15px) rem-calc(15px) 0;

		&.no-reorder {
			.drag-handle {
				visibility: hidden; // the radio/checkbox label position is affected by the drag handle's width
			}
		}
	}
}


.is-saving .assignment-input-choices {
	.add-choice {
		color: transparent;
	}
}
