@import "~nti-style-common";

.assignment-input-choice {
	position: relative;
	border: 1px solid $border-grey-light;
	background-color: white;

	&.error {
		border: 1px solid $border-red;

		&.selected {
			box-shadow: 0 0 1px 1px $border-red;
		}
	}

	&.correct {
		background-color: $light-green;
		border: 1px solid $border-green-light;
	}

	.nti-rich-text {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		font: normal 400 0.875rem/40px $body-font-family;
		color: $primary-grey;
		background-color: inherit;
		border: none;
		width: 100%;
		padding: 0.6rem;

		.dragging & {
			position: static;
		}

		.DraftEditor-root {
			padding: 0;
			min-height: 0;
			line-height: 1.3rem;
			font-size: 0.875rem;
			transition: color 50ms;
		}
	}

	.text-editor-error {
		padding: 0.6rem;
		margin-top: -1rem;
	}

	.sync-height-with {
		content: attr(data-sync-height-with);
		visibility: hidden;
		display: block;
		font: normal 400 0.875rem/1.3rem $body-font-family;
		padding: 0.6rem;
	}
}

.assignment-input-choices.can-delete {
	input[type=text] {
		padding-right: 30px;
	}
}

.is-saving .assignment-input-choice {
	.nti-rich-text .DraftEditor-root {
		color: transparent;
	}
}
