@import "~nti-style-common";

.assignment-input-choices {
	position: relative;

	.dragging & {
		position: static;
	}

	.delete {
		position: absolute;
		top: 0; right: 10px;

		div {
			line-height: 42px;
		}
	}

	.choices {
		position: relative;
		z-index: 0;

		.dragging & {
			position: static;
		}

		.dragging & .ordering-container > div{
			position: static !important;
		}
	}

	.add-choice {
		position: relative;
		background-color: white;
		font: normal 400 0.875rem/40px $body-font-family;
		color: $secondary-grey;
		padding: 0 10px 0 34px;
		border: 1px solid $border-grey-light;
		cursor: pointer;
		transition: color 500ms;

		&::before {
			content: '+';
			display: block;
			position: absolute;
			top: 0;
			left: 15px;
		}
	}
}


.is-saving .assignment-input-choices {
	.add-choice {
		color: transparent;
	}
}



