@import "~nti-style-common";

.control-bar {
	position: fixed;
	bottom: 0;
	left: 0; right: 0;
	z-index: 1;
	min-height: 60px;
	max-width: 1060px;
	margin: 0 auto;
	background: white;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 0 1px 1px $border-grey-light;
	overflow: hidden;

	&.slideUp-enter {
		bottom: -60px;

		&.slideUp-enter-active {
			bottom: 0px;
			transition: bottom 500ms;
		}
	}

	&.slideUp-leave {
		bottom: 0px;

		&.slideUp-leave-active {
			bottom: -60px;
			transition: bottom 500ms;
		}
	}
}
