@import "~nti-style-common";

.time-limit {
	.time-limit-display {
		height: 100%;
	}
}

.time-limit-editor {
	padding: .5rem;
	font-size: .875rem;
	.duration-picker {
		margin: .5rem 0;
	}
	.error {
		color: $error-text-color;
		margin: 0 .25rem .5rem;
		font-style: italic;
	}
}

.assignment-option-flyout.flyout {
	.flyout-inner {
		box-shadow: 1px 0 0 0 $border-grey-light,
						-1px 0 0 0 $border-grey-light,
						0 1px 0 0 $border-grey-light;
	}
}
