@import "~nti-style-common";

.assignment-editing-sidebar-tabbar {
	height: rem-calc(50px);
	line-height: rem-calc(50px);
	font-size: rem-calc(10px);
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 1px 0 0 #e8e8e8;
	display: flex;

	.tab {
		flex: 0 1 50%;
		box-shadow: 0 0 0 1px #e8e8e8;
		text-align: center;
	}
}
