@import "~nti-style-common";

.assignment-content-editor{
	min-height: 3.5rem;

	&.error {
		box-shadow: 0 0 1px 1px $primary-red;
	}

	&.selected {
		background: white;
	}

	.nti-rich-text {
		border: none;
		background: none;

		.DraftEditor-root {
			padding: 0.1rem 0.6rem;
			padding-bottom: 0.2rem;
			min-height: 0;
		}
	}

	.nti-error {
		padding: 0 0.6rem 0.6rem;
	}

	.character-count {
		display: none;
	}

	.public-DraftEditorPlaceholder-root {
		font-style: italic;
		font-weight: 300;
	}
}
