@import '~@nti/style-common';

.assignment-navigation-bar-status-submission-attempt {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	flex-direction: row;

	.nti-button, .nti-button.primary {
		background: var(--primary-green);
		font-weight: 400;
		margin-right: 0.5rem;
		flex: 0 0 auto;
	}

	.remaining {
		font: normal 400 0.875rem/1.3 $body-font-family;
		color: var(--secondary-grey);
		flex: 0 0 auto;
	}
}
