@import '~@nti/style-common';

.assignment-navigation-bar-status-submission-icon {
	display: flex;
	align-items: flex-start;
	justify-content: center;

	.late {
		width: rem-calc(40px);
		height: rem-calc(40px);

		background-size: cover;
		background-image: url('./assets/assignment_late.png');
		background-repeat: no-repeat;
		background-position: center center;
	}

	.passing {
		width: rem-calc(40px);
		height: rem-calc(40px);
		border-radius: 40px;
		color: $primary-green;
		box-shadow: inset 0 0 0 3px $primary-green;
		text-align: center;
		font-size: 1.3rem;
		line-height: rem-calc(40px);
		padding-top: 1px;
	}

	.failed {
		width: rem-calc(40px);
		height: rem-calc(40px);
		border-radius: 40px;
		color: $primary-red;
		box-shadow: inset 0 0 0 3px $primary-red;
		text-align: center;
		font-size: 1.3rem;
		font-weight: 600;
		line-height: rem-calc(40px);
	}
}
