@import '~@nti/style-common';

.assignment-navigation-bar-status-submission-icon {
	display: flex;
	align-items: flex-start;
	justify-content: center;

	.late, .passing, .failed {
		width: rem-calc(40px);
		height: rem-calc(40px);

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.late {
		background-image: url('./assets/assignment_late.svg');
	}

	.passing {
		background-image: url('./assets/assignment_ontime.svg');
	}

	.failed {
		background-image: url('./assets/assignment_failed.svg');
	}
}
