@import "~nti-style-common";

.time-limit {
	.time-limit-display {
		height: 100%;
	}
}

.flyout.assignment-option-flyout {
	.flyout-inner {
		box-shadow: 1px 0 0 0 $border-grey-light,
					-1px 0 0 0 $border-grey-light,
					0 1px 0 0 $border-grey-light;
	}

	.time-limit-editor {
		color: $primary-grey;
		padding: rem-calc(10px 15px 15px);
		font-size: .875rem;
		position: relative;


		&.saving {
			.saving-mask {
				display: block;
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
				background: rgba(255, 255, 255, 0.7);

				.loading-spinner {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -12px;
					margin-left: -12px;
				}
			}
		}

		.flyout-fullwidth-btn {
			margin: 0;
		}

		.duration-picker {
			margin: .5rem 0;
		}
		.error {
			color: $error-text-color;
			margin: 0 .25rem .5rem;
			font-style: italic;
		}
	}
}
