@import "~nti-style-common";

.assignment-info {
	overflow: hidden;
	background: $border-grey-light;
	padding-bottom: 1px;
	display: flex;
	min-height: 50px;

	.field {
		height: 50px;
		flex: 1 1 33%;
		margin-right: 1px;
		background: white;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.field:first-child {
		.labeled-value {
			padding-left: rem-calc(30px);
		}
	}

	.labeled-value {
		padding: rem-calc(0 10px 0 15px);
		height: 100%;
	}

	input {
		color: $primary-grey;
		font-size: rem-calc(13px);
		width: 100%;
	}
}
