@import "~@nti/style-common";

.ordering-container {
	.ordering-item {
		&.is-dragging {
			height: 0;
			overflow: hidden;
			border: none;
			margin: 0;
		}

		&.placeholder {
			height: 40px;
			background: none;
			border: none;
			margin: 0 1rem;
			margin-bottom: .5625rem;
			pointer-events: none;
		}
	}
}
