@import "~nti-style-common";

.assignment-editor {
	background: white;

	.sticky {
		z-index: 10;
	}

	.content {
		position: relative;
		min-height: 200px;
	}

	.toggle {
		position: absolute;
		top: 1.375rem;
		right: 1.875rem;
		cursor: pointer;
	}

	.option-container, .content-container {
		background: white;
	}

	.content-container {
		.show-options.toggle {
			font: normal 500 0.875rem/2.5rem $body-font-family;
			line-height: 2.5rem;
			color: $secondary-grey;
			box-shadow: 0 0 0 1px $border-grey-light;
			border-radius: 3px;
			background: white;
			padding: 0 0.625rem;

			span, i {
				vertical-align: middle;
			}

			span {
				font-weight: 600;
			}

			i {
				font-size: 1rem;
				line-height: 2.5rem;
				margin-right: 0.2rem;
			}
		}
	}


	.option-container {
		.show-content.toggle {
			width: 103px;
			height: 39px;
			border-radius: .125rem;
			background-color: #3fb3f6;
			text-align: center;
			color: white;
			line-height: 39px;
			font-size: .875rem;
			font-weight: 300;
		}
	}

	.fadeInOut-enter {
		&.option-container {
			opacity: 0;
			transform: scale(0.8);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;

			&.fadeInOut-enter-active {
				opacity: 1;
				transform: scale(1);
				transition: opacity 400ms, transform 400ms cubic-bezier(0.5, 0.01, 0.02, 1.35);
			}
		}

		&.content-container {
			opacity: 0;

			&.fadeInOut-enter-active {
				opacity: 1;
				transition: opacity 400ms;
			}
		}
	}

	.fadeInOut-leave {
		&.option-container {
			opacity: 1;
			transform: scale(1);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;

			&.fadeInOut-leave-active {
				opacity: 0;
				transform: scale(0.8);
				transition: opacity 250ms, transform 250ms;
			}
		}

		&.content-container {
			opacity: 1;

			&.fadeInOut-leave-active {
				opacity: 0;
				transition: opacity 250ms;
			}
		}
	}
}
