.ordering-container {
	.ordering-item {
		&.is-dragging {
			height: 0;
			overflow: hidden;
			border: none;
			margin: 0;
		}

		&.placeholder {
			height: 40px;
			background: rgba(0, 0, 0, 0.2);
			border: none;
			margin: 0;
		}
	}
}
