@import "~@nti/style-common";

.free-response-editor {
	.disclaimer {
		font: normal 400 0.875rem/1rem var(--body-font-family);
		transition: color 50ms;
		color: var(--secondary-grey);
		margin-bottom: rem-calc(5px);
		padding: rem-calc(15px 15px 15px 15px);
	}

	.input-type-choices {
		.choice-column {
			padding-top: 0;
		}

		.delete div, .input-type-choice {
			margin-bottom: rem-calc(9px);
		}
	}
}

.is-saving .free-response-editor {
	.disclaimer {
		color: transparent;
	}
}
