@import '~@nti/style-common';

.assignment-inline-editor {
	.reset {
		.nti-checkbox {
			position: relative;

			.publish-reset-label {
				display: block;
				font-size: 0.875rem;
				color: var(--primary-grey);
				font-family: var(--body-font-family);
				margin: 0 1.25rem 0.25rem 0;
			}

			.publish-reset-text {
				display: block;
				font-size: 0.75rem;
				line-height: 1.3;
				color: var(--secondary-grey);
				margin: 0 1.25rem 1.25rem 0;
			}

			.publish-reset {
				display: block;
				height: 2rem;
				border-radius: 0.25rem;
				color: white;
				text-align: center;
				line-height: 2rem;
				font-weight: 100;
				font-size: 0.875rem;
				background-color: var(--primary-red);
				width: 140px;
				cursor: pointer;
			}
		}
	}
}
