@import "~nti-style-common";

.assignment-editing-controls {
	&.empty {
		display: none;
	}

	i[class^="icon-"] {
		font-size: 1rem;
		color: $secondary-grey;
		cursor: pointer;
		display: block;
	    padding: rem-calc(14px) rem-calc(17px);

		&:hover {
			color: $primary-grey;
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.3;
		}
	}
}
