@import '~@nti/style-common';

.assignment-option-group.buffer {
	.checkbox-component {
		color: var(--secondary-grey);
	}

	.inputs {
		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		.duration-picker {
			max-width: 300px;
			margin-top: 0.5rem;

			.nti-number-input {
				background-color: white;
			}
		}

		.error {
			color: var(--primary-red);
			font-size: 14px;
		}
	}

	.options {
		.select-box {
			font-size: 14px;
			color: var(--secondary-grey);
			max-width: 15rem;
			border: solid 1px #ddd;
			border-radius: 2px;
			cursor: pointer;

			ul {
				font-weight: 400;
				padding-left: 0;

				.option-label {
					&.selected {
						opacity: 0.5;
						pointer-events: none;
						background: none;
						color: var(--secondary-grey);
					}
				}
			}
		}
	}
}

.submission-buffer-options {
	.submission-buffer-option {
		padding: 1rem;
		font-weight: 300;
	}
}
