.limiting.assignment-option-group {
	.portion-max-input {
		width: 85%;
		height: 39px;
		background-color: #fff;
		border: solid 1px #dcdcdc;
		font-size: 0.875rem;
		font-weight: normal;
		font-style: italic;
		color: var(--tertiary-grey);
		padding-left: 1rem;
		margin-left: 1.625rem;
		margin-top: 0.625rem;
	}
}
