@import "~nti-style-common";

.multiple-choice-choice {
	position: relative;
	margin-bottom: 9px;

	.nti-rich-text {
		padding-left: rem-calc(32px);
	}

	.nti-error {
		padding-left: rem-calc(32px);
	}

	.radio-component, .checkbox-component {
		position: absolute;
		left: rem-calc(32px);
		transition: opacity 50ms;
		opacity: 1;
		line-height: 1.15;
	}

	.radio-component {
		top: 12px;
	}

	.checkbox-component {
		top: 13px;
	}


	.remove {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}
}

// .dragging .multiple-choice-choice {
// 	position: static;
// }

.is-saving .multiple-choice-choice {
	.radio-component, .checkbox-component {
	 	opacity: 0;
	}
}
