@import '~@nti/style-common';

.assignment-editing-controls {
	&.empty {
		// display: none;
	}

	i[class^='icon-'],
	span.more-controls {
		font-size: 1rem;
		color: var(--secondary-grey);
		cursor: pointer;
		display: block;
		padding: rem-calc(10px 16px);

		&:hover {
			color: var(--primary-grey);
			position: relative;
			z-index: 1;

			&::after {
				content: '';
				width: 2rem;
				height: 2rem;
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 100%;
				background: rgba(0, 0, 0, 0.05);
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.3;
		}
	}

	span.more-controls {
		text-align: center;
		font-weight: 700;
		font-size: 1.2rem;
	}
}

.assignment-editing-controls.placeholder {
	pointer-events: none;
}
