@import "~nti-style-common";

.assignment-editing-controls {
	&.empty {
		// display: none;
	}

	i[class^="icon-"] {
		font-size: 1rem;
		color: $secondary-grey;
		cursor: pointer;
		display: block;
		padding: rem-calc(14px 16px);

		&:hover {
			color: $primary-grey;
			position: relative;
			z-index: 1;

			&::after {
				content: '';
				width: 2rem;
				height: 2rem;
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 100%;
				background: rgba(0,0,0,.05);
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.3;
		}
	}
}

.assignment-editing-controls.placeholder {
	pointer-events: none;
}
