$trigger-height: 2.4375rem;
@import "~@nti/style-common";

.preview-trigger {
	height: $trigger-height;
	line-height: 2.125rem;
	border-radius: 0.25rem;
	border: 1px solid #d1d1d1;
	cursor: pointer;
	position: relative;
	margin-right: 18em;

	.preview-trigger-text {
		font-size: 0.875rem;
		color: $secondary-grey;
		font-weight: 400;
		font-family: $body-font-family;
		margin-left: 2rem;
		padding-right: .9rem;
	}

	.icon-view {
		top: 10px;
		left: 10px;
		position: absolute;
		color: $secondary-grey;
	}
}
