@import "~nti-style-common";

.publish-locked .flyout-inner {
	border-radius: rem-calc(4px);
	background-color: #ffffff;
	box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.21);
	padding: rem-calc(15px);
	width: rem-calc(310px);


	.reset-label {
		display: block;
		font-size: rem-calc(14px);
		color: $primary-grey;
		font-family: $body-font-family;
		margin: rem-calc(0 20px 4px 0);
	}

	.reset-text {
		display: block;
		font-size: rem-calc(12px);
		line-height: 1.3;
		color: $secondary-grey;
		margin: rem-calc(0 20px 20px 0);
	}

	.reset-error {
		font-size: rem-calc(12px);
		line-height: 1.3;
		margin: rem-calc(4px 20px 12px 0);
		color: $error-text-color;
	}

	.publish-reset {
		color: white;
		text-align: center;
		background-color: $primary-red;
	}

	.flyout-fullwidth-btn.error {
		animation-name: error-resetting-assignment;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
}


@keyframes error-resetting-assignment {
	from, to {
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-5px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		transform: translate3d(5px, 0, 0);
	}
}
