@import "~@nti/style-common";

.assignment-editor-between-question {
	position: absolute;
	left: 0;
	right: 0;
	min-height: rem-calc(30px);
	padding: 0 rem-calc(15px);

	&.before {
		top: rem-calc(-30px);
	}

	&.after {
		bottom: rem-calc(-30px);
	}

	&.selected {
		box-shadow: none;

		&::before {
			content: '';
			display: block;
			height: 1px;
			border: 1px solid var(--primary-blue);
			background: var(--primary-blue);
			margin-top: 14px;
		}
	}
}
