@import "~@nti/style-common";

.question-content-editor {
	&.error .nti-rich-text {
		box-shadow: 0 0 1px 1px var(--primary-red);
	}

	.nti-rich-text, .nti-buffered-text-editor {
		padding: 0 0.2rem 0.2rem;
		border: none;
		background: white;

		.nti-draft-core .DraftEditor-root {
			padding: 0;
			padding-bottom: 0;
			font-size: 0.875rem;
			transition: color 50ms;
			min-height: 1rem;
		}

		.character-count {
			display: none;
		}

		.public-DraftEditorPlaceholder-root {
			font-style: italic;
			font-weight: 300;
			transition: color 50ms;
		}
	}
}

// .dragging .question-content-editor .nti-rich-text {
// 	position: static;
//
// 	.DraftEditor-root {
// 		position: static;
// 	}
//
// 	.DraftEditor-editorContainer {
// 		position: static;
// 	}
//
// 	.public-DraftStyleDefault-block {
// 		position: static;
// 	}
// }

.is-saving .question-content-editor {
	.nti-rich-text, .nti-buffered-text-editor {
		.DraftEditor-root, .public-DraftEditorPlaceholder-root {
			color: transparent;
		}
	}
}
