@import "~@nti/style-common";

.settings-panel {
	width: 80vw;
	max-width: 800px;
	background: white;
	padding: 0;
	border: 1px solid $tertiary-grey;
	.titlebar {
		position: relative;
		padding: .75rem 1.25rem;
		.title {
			font-size: 1.1rem;
			font-weight: 200;
			color: var(--primary-grey);
		}
		i {
			position: absolute;
			top: 0.5rem;
			right: 1rem;
			font-size: 1.75rem;
			color: $tertiary-grey;
		}
	}
	.token-editor {
		margin: rem-calc(15px 25px 25px);
	}
	.content {
		padding: 1.25rem;
		background: $panel-background;
		border-top: 1px solid $border-grey-light;
		font-size: .875rem;
		line-height: 2;
	}
	.radio-group {
		.label {
			font-weight: 100;
		}
	}
}
