@import "~@nti/style-common";

.file-suggestion-controls {
	float: right;
	padding-right: 20px;
	font-size: 16px;
	clear: both;

	a {
		text-decoration: none;
		cursor: pointer;
	}

	.control {
		padding-left: 15px;

		&.add {
			color: $border-blue;
		}
		&.dismiss {
			color: var(--secondary-grey);
		}
	}
}
.suggestions .value {
	color: var(--primary-grey);
	font-size: 16px;
	font-weight: bold;
}
