@import "~nti-style-common";

.assignment-editor-no-parts {
	min-height: 200px;
    font: normal 100 2rem $body-font-family;
	font-size: rem-calc(32px);
	padding: rem-calc(20px);
    width: 530px;
    color: $tertiary-grey;
    margin: auto;
    text-align: center;
    padding-top: rem-calc(40px);

	&.drag-over {
		background: $tertiary-grey;
	}
}
