@import "~@nti/style-common";

.assignment-editor-no-parts {
	min-height: 400px;

	.empty-message {
		font: normal 100 2rem $body-font-family;
		font-size: rem-calc(32px);
		padding: rem-calc(20px);
		width: 70%;
		color: $tertiary-grey;
		margin: auto;
		text-align: center;
		padding-top: rem-calc(40px);
		pointer-events: none;
	}

	&.drag-over {
		background: rgba(0,0,0,.05);
	}
}
