@import "~nti-style-common";

.add-ordering-row {
	font: normal 400 0.875rem/40px $body-font-family;
	color: $secondary-grey;
	cursor: pointer;
	padding: 0 33px;
	background-color: white;
	clear: both;
	position: relative;
	box-shadow: inset 1px 0 0 0 $border-grey-light, inset -1px 0 0 0 $border-grey-light, inset 0 -1px 0 0 $border-grey-light;

	&::before {
		content: '+';
		display: block;
		position: absolute;
		left: 15px;
	}
}
