@import "~nti-style-common";

.ordering-editor-choices {

	.ordering-item:first-of-type {
		.assignment-input-choice {
			border-top-width: 1px;
		}
	}

	.no-reorder {
		.assignment-input-choice:first-of-type {
			border-top-width: 1px;
		}
	}

	.assignment-input-choice {
		border: 0 solid $border-grey-light;
		border-left-width: 1px;
		border-bottom-width: 1px;

		&.correct {
			border: 0 solid $border-green-light;
			border-right-width: 1px;
			border-left-width: 1px;
			border-bottom-width: 1px;

			.delete {
				display: block;
			}
		}

		.delete {
			display: none;
		}

		.nti-rich-text {
			border: none;
		}


		&.error {
			position: relative;
			z-index: 1;
			border: 1px solid $border-red;

			&.selected {
				box-shadow: 0 0 0 1px $border-red;
			}
		}


		&.selected {
			position: relative;
			z-index: 2;
			// border: 1px solid $primary-blue;
		}
	}

	.choices {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.choice-column {
			flex: 1 0 50%;
		}

		.add-choice {
			flex: 0 1 100%;
		}
	}

	.add-choice {
		clear: both;
		border: 0 solid $border-grey-light;
		border-left-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
	}
}
