@import "~nti-style-common";

.free-response-editor {
	.disclaimer {
		font: normal 400 0.875rem/1rem $body-font-family;
		color: $secondary-grey;
		margin-bottom: 20px;
	}

	.assignment-input-choices {
		.delete div, .assignment-input-choice {
			margin-bottom: 9px;
		}
	}
}
