@import "~@nti/style-common";

.assignment-textinput-placeholder {
	border: 1px solid var(--border-grey-light);
	font: italic 400 0.875rem/1rem $body-font-family;
	transition: color 50ms;
	color: var(--tertiary-grey);
	padding: 10px 14px;
	margin: rem-calc(15px) rem-calc(15px) 0;

	&:not(.single-line) {
		min-height: 10rem;
	}
}

.is-saving .assignment-textinput-placeholder {
	color: transparent;
}
