@import "~nti-style-common";

.delete-assignment {
	display: block;
	font-weight: 600;
	font-size: rem-calc(14px);
	color: $secondary-grey;
	cursor: pointer;
	margin: rem-calc(0 0 18px 4px);

	.no-touch &:hover {
		color: $primary-grey;
	}

	i {
		margin-right: rem-calc(11px);
	}
}
