@import "~nti-style-common";

.assignment-editing-controls {
	i[class^="icon-"] {
		font-size: 1rem;
		color: $secondary-grey;
		cursor: pointer;
		display: block;
		margin-bottom: 2rem;

		&:hover {
			color: $primary-grey;
		}
	}
}
