@import '~@nti/style-common';

.assignment-navigation-bar-status-assignment {
	list-style: none;
	margin: 0;
	padding: 0.625rem 17px;//to match the breadcrumb from the webapp
	border-bottom: 1px solid var(--border-grey-light);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	text-transform: none;

	li {
		flex: 0 0 auto;
		margin-right: 0.875rem;

		&:last-of-type {
			margin-right: 0;
		}

		i {
			display: inline-block;
			vertical-align: middle;
			color: var(--primary-blue);

			&.icon-star-outline {
				font-size: 1.125rem;
			}
		}

		span {
			display: inline-block;
			vertical-align: middle;
			font: normal 400 0.875rem/1.3 var(--body-font-family);
			color: var(--secondary-grey);
		}
	}


	&.has-submission {
		li {
			i, b {
				color: var(--secondary-grey);
			}
		}
	}

	.passing-score {
		&.failed {
			i, .percentage {
				color: var(--primary-red);
			}
		}
	}

	.attempt-info {
		b {
			font-weight: 600;
			color: var(--primary-blue);
		}
	}
}
