@import "~nti-style-common";

.assignment-textinput-placeholder {
	border: 1px solid $border-grey-light;
	font: italic 400 0.875rem/1rem $body-font-family;
	color: $tertiary-grey;
	padding: 10px 14px;

	&:not(.single-line) {
		min-height: 10rem;
	}
}
